$color-light: #F7F7F7;
$color-light-blue: #D1E3F1;
$color-light-blue-background: rgb(209,227,241);
$color-dark-blue: #70A5D4;
$font-stack: 'Montserrat', sans-serif;
$font-stack-bungee: 'Bungee', cursive;
$light-font: 200;
