<% provide(:title, 'Home') %>
<div class="header">
    <!-- <%= link_to image_tag('header.jpg', class: 'header-image', width: '100%') %> -->
    <nav>
      <ul>
        <li>HOURGLASS MEDIA</li>
      </ul>
    </nav>
    <p>
      Empowering businesses through flawless digital experiences
    </p>
</div>

<div class="flex-container-who">
  <div class="who">
    <h1 class="center-text">Who We Are</h1>
    <p class="flex-item-who-text">
      Hourglass Media is a digital agency that crafts beautiful online experiences
      from the ground up. We are passionate about growing businesses through content,
      marketing, user experience, and product development.
    </p>
  </div>
</div>

<div class="employee-section">
  <div class="flex-container-employee">
    <div class="flex-item-employee">
      <h2 class="name">James Base</h2>
      <p class="bio">Marketer</p>
      <%= link_to image_tag('james.jpg') %>
    </div>
    <div class="flex-item-employee">
      <h2 class="name">Jordan Jones</h2>
      <p class="bio">Developer</p>
      <%= link_to image_tag('jordan.jpg') %>
    </div>
    <div class="flex-item-employee">
      <h2 class="name">Mariano Avila</h2>
      <p class="bio">Ux Designer</p>
      <%= link_to image_tag('mariano.jpg') %>
    </div>
  </div>
</div>
