//  *= require_tree .
//  *= require_self
@import "utilities/fontawesome";
@import "utilities/variables";



body {
  margin: 0px;
  width: 100%;
  background-color: $color-light;
}

.center-text {
  text-align: center;
}
