// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "utilities/variables";

.header {
  margin: 0px;
  padding: 0px;
  background-color: $color-light-blue-background;
  display: inline-block;

  p {
    font-family: $font-stack-bungee;
    font-size: 40px;
    padding: 110px;
    padding-top: 90px;
    text-align: center;
    opacity: .5;
  }

  nav {
    float: left;

    li {
      display: inline;
      font-family: $font-stack;
      font-weight: lighter;
    }
  }
}


.flex-container-employee {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background-color: $color-light-blue;
  min-height: 100%;
  flex-direction: row;

  img {
    border-radius: 100px;
    height: 150px;
    width: 150px;
  }

  .flex-item-employee {
    width: 200px;
    height: 150px;
    margin: 75px;
    color: $color-light;
    text-align: center;
    margin-top: 15px;
    font-family: $font-stack;
    height: 30%;

    .name-link {
      text-decoration: none;
      color: white;

      h2.name {
      }

      p.title {
      }
    }
  }
}


div.who {

  h1 {
    font-family: $font-stack;
    padding-top: 30px;
  }

  p {
    font-family: $font-stack;
    font-weight: lighter;
    padding-bottom: 40px;
  }

  img {
    float: left;
  }
}

.flex-container-who {
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $color-light;
  flex-direction: row;
}

.flex-item-who-text {
  width: 50%;
  text-align: center;
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
}

div.services-section {

  margin-bottom: 35px;
  width: 100%;

  h1 {
    font-family: $font-stack;
  }

  p {
    font-family: $font-stack;
  }

  .flex-container-services {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;

    .flex-child-services {
      width: 250px;
      margin: 50px;
      margin-top: 50px;
      margin-bottom: 0px;
    }
  }
}

.contact-section {
  background-color: $color-light-blue;

  h1.contact-header {
    font-family: $font-stack;
    padding-top: 20px;
  }

  .flex-container-contact {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;

    .flex-container-contact-child {
      width: 45%;

      p {
        font-family: $font-stack;
      }

      a {
        text-decoration: none;
      }
    }

    .contact-link {
      padding-left: 80px;
    }
  }
}

.image-wrap {
  background-color: $color-light-blue;
  radius: 50px;
}
